<div class="col-sm-3 char-sidebar">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" ng-model="conversationSearchText"
                       placeholder="Search conversation"/>
                <button class="btn btn-danger" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div class="dropdown all-conversation">
            <button class="dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-weixin" aria-hidden="true"></i>
                Tools
                <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#" ng-click="chatCtrl.createRoom()"> Add conversation </a></li>
            </ul>
        </div>
        <div class="member-list">
            <ul class="list-unstyled">
                <li class="left clearfix" ng-repeat="r in chatCtrl.rooms | filter:conversationSearchText"
                    ng-class="{active: r === chatCtrl.currentRoom }" ng-click="chatCtrl.setCurrentRoom(r)">
                        <span class="chat-img pull-left">
                            <img src="/assets/images/conversation.jpeg"
                                 alt="User Avatar" class="img-circle">
                        </span>
                    <div class="chat-body clearfix">
                        <div class="header_sec">
                            <strong class="primary-font">{{ r }}</strong>
                            <!--<strong class="pull-right ">09:45AM</strong>-->
                        </div>
                        <!--<div class="contact_sec">-->
                            <!--<strong class="primary-font">(123) 123-456</strong>-->
                            <!--<span class="badge pull-right">3</span>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-9 message-section">
    <div class="row">
        <div class="new-message-head">
            <div class="pull-left" id="new-conversation">
                <p class="text-center">Room {{ chatCtrl.currentRoom }}</p>
            </div>
            <div class="pull-right">
                <input type="text" ng-model="chatCtrl.selectedParticipant"
                       class="form-control" placeholder="Add new participant"
                       uib-typeahead="user for user in chatCtrl.getUserList()"
                       typeahead-on-select="chatCtrl.addParticipant($label)"
                       typeahead-loading="loadingUsers" typeahead-no-results="noResults" />
            </div>
        </div>
        <div class="chat-area" ng-repeat="r in chatCtrl.rooms" ng-class="{'active-chat': r === chatCtrl.currentRoom}">
            <ul class="list-unstyled" id="chat-list">
                <li class="left clearfix" ng-repeat="msg in chatCtrl.Chat.chatMessages[chatCtrl.currentRoom]">
                    <span class="chat-img1 pull-left">
                      <img src="https://s3.postimg.org/yf86x7z1r/img2.jpg"
                           alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body1 clearfix">
                        <p ng-if="msg.link">
                            <strong>{{ msg.sender }}: </strong>
                            <a href="{{msg.link}}">{{msg.fileName}}</a>
                        </p>
                        <p ng-if="msg.text">
                            <strong>{{ msg.sender }}: </strong>
                            {{msg.text}}
                        </p>          
                        <div class="chat-time pull-right">09:40PM</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="message-write">
            <div class="checkbox pull-left">
                <label><input type="checkbox" id="typeMath">Type math</label>
            </div>
            <form enctype="multipart/form-data">
                <button class="pull-right btn btn-primary" type="file" ng-click="chatCtrl.showPicker()">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i> Add Files
                </button>
            </form>
            <div id="input-area">
                <form ng-submit="chatCtrl.submitMsg()">
                    <input type="text" name="chat" ng-model="chatCtrl.inputText"
                           class="form-control ng-pristine ng-valid input-block-level"
                           placeholder="Type a message" id="input-box">
                </form>
                <div id="mathquill" class="input-field ng-pristine ng-valid input-block-level">
                </div>
                <button id="mathquill-submit" ng-click="chatCtrl.submitMath()"></button>
            </div>
        </div>
    </div>
</div>


<setup-chat></setup-chat>