@(myForm: Form[ChatData])(implicit request: RequestHeader, messages: Messages, session: Session)

@import play.filters.csrf.CSRF
@token = @{ CSRF.getToken.get }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/chat.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

    <title>Chat Room</title>
</head>

<body ng-app="sseChat">
<div ng-controller="ChatCtrl">
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div class="top">
                    <input type="text" />
                   <button class="add"></button>
                </div>
                <ul class="people">
                    <li class="person" ng-repeat="r in rooms" data-chat="room{{$index+1}}"
                            ng-click="setCurrentRoom(r)">
                        <img src="https://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
                        <span class="name">LMT</span>
                        <span class="time">11:54 PM</span>
                        <span class="preview">I've forgotten how it felt before</span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
                <div class="chat" ng-repeat="r in rooms" data-chat="room{{$index+1}}">
                    <div class="conversation-start">
                        <span>Today, 5:38 PM</span>
                    </div>
                    <div class="bubble you {{msg.who}} msg" ng-repeat="msg in msgs">
                        {{msg.text}}
                        <br/>
                    </div>
                </div>
                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <form ng-submit="submitMsg()">
                        <input type="hidden" name="@token.name" id="csrfToken" value="@token.value" />
                        <input type="text" name="chat" id="input-box" ng-model="inputText"
                               placeholder="Say something" class="ng-pristine ng-valid input-block-level" />
                    </form>
                    <a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- libraries -->
<script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
<script src='@routes.Assets.versioned("javascripts/lib/eventsource.js")'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script type='text/javascript' src='@routes.Assets.versioned("lib/flot/jquery.flot.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/lib/notify.min.js")'></script>

<!-- Angular -->
<script src='@routes.Assets.versioned("javascripts/app.js")'></script>
<script src='@routes.Assets.versioned("javascripts/services.js")'></script>
<script src='@routes.Assets.versioned("javascripts/controllers.js")'></script>
</body>

</html>