@(myForm: Form[UserLoginData])(implicit request: RequestHeader, messages: Messages, session: Session)

@import helper._
@import views.html.bootstrap

@implicitFieldConstructor = @{ FieldConstructor(bootstrap.input.f) }

@main("Login page") {
    <h1>Log In</h1>

    <hr>

    @if(myForm.hasGlobalErrors) {
        <ul class="error">
        @for(error <- myForm.globalErrors) {
            <li>@Messages(error.messages, error.args)</li>
        }
        </ul>
    }

    <div class="row login-form">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            @form(action = routes.LoginController.login()) {
                @CSRF.formField
                <div class="form-group">
                    @inputText(myForm("username"), '_label -> "Username", 'class -> "form-control")
                </div>
                <div class="form-group">
                    @inputPassword(myForm("password"), '_label -> "Password", 'class -> "form-control")
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block">
            }
        </div>
    </div>
}