@(myForm: Form[UserLoginData])(implicit request: RequestHeader, messages: Messages, session: Session)

@import helper._
@import views.html.bootstrap

@implicitFieldConstructor = @{ FieldConstructor(bootstrap.input.f) }

@main("Login page") {
    <h1>Login</h1>

    <hr>

    @form(action = routes.LoginController.login()) {
        @CSRF.formField
        @inputText(myForm("username"), '_label -> "Username", 'class -> "form-control")
        @inputPassword(myForm("password"), '_label -> "Password", 'class -> "form-control")
        <input type="submit">
    }
}