@(user: User)(implicit request: RequestHeader, session: Session)

@import play.filters.csrf.CSRF
@import models.Friendship

@token = @{ CSRF.getToken.get }
@username = @{ request.session.get("connected") }
@STATUS_CODES = @{ Friendship.getStatusJsonString }

@scripts = {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"></script>
  <script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.js"></script>
  <script src='@routes.Assets.versioned("javascripts/utils/ws-helper.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/utils/hashset.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app/core/core.module.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app/core/data-services/websocket.factory.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app/core/data-services/user.factory.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app/core/data-services/friend.factory.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app/core/friend-button/friend-button.component.js")'></script>
}

@main("User detail page", scripts = scripts) {
  <div ng-app="core">
    <div id="friendship-status-codes" style="display: none;">@STATUS_CODES</div>
    <div class="row" style="margin-top: 50px">
      <div class="col-md-3" style="border: 3px solid black"><img class="img-responsive" src='@routes.Assets.versioned("images/pikachu.png")'></div>
      <div class="col-md-6">
        <table class="table">
          <thead>
            <th colspan="2" class="text-center">User info</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Displayed name:</th>
              <td>@user.username</td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>@user.email</td>
            </tr>
            @if(username.isDefined && user.username != username.get) {
              <tr>
                <th></th>
                <td><friend-button username='"@username"' other-user='"@user.username"' csrf-token="@token.value"></friend-button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}